<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Eukleialms Leo Learning" preserve-order="true">
 

   <test name="Homepage">
  	<classes >
  		<class name="tests.TC001_VerifyImagesForDefaultCarouselBlock"></class>
  	</classes>
  	</test> 
   <test name="Manage Carousel Page">
  	<classes >
  		<class name="tests.TC002_VerifyManageCarouselHavingCorrespondingElements"></class>
  	</classes>
  	</test>
  	<test name="Add/Edit Carousel Page" preserve-order="true">
  	<classes >
  		<class name="tests.TC003_VerifyAddNewCarouselAndHavingRequiredElements"></class>
  		<class name="tests.TC004_VerifyAddEditCarouselElements"></class>
  		<class name="tests.TC005_VerifyAddEditDeleteCarouselFeature"></class>
  	</classes>
  	</test>
 <!-- <test name="Sample configuration test">
  	<classes >
  		<class name="tests.sample"></class>
  	</classes>
  	</test> -->
</suite> <!-- Suite -->
