<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" thread-count="10" parallel="tests" verbose="4">

	<test name="Google Test">
		<parameter name="url" value="https://www.google.com" />
		<parameter name="browser" value="chrome" />
		
		<classes>
			<class name="mytests.GoogleTest" />
		</classes>
	</test>

	<test name="OpenCart Test">
		<parameter name="url"
			value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
		<parameter name="browser" value="safari" />
		<classes>
			<class name="mytests.OpenCartTest" />
		</classes>
	</test>

	<test name="Orange HRM Test">
		<parameter name="url"
			value="https://www.orangehrm.com/orangehrm-30-day-trial/" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="mytests.OrangeHRMTest" />
		</classes>
	</test>


</suite>