<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
   <listener class-name="listeners.ListenerClass"></listener>
  </listeners>
  <test thread-count="1" name="Test" parallel="methods">
    <classes>    
      <class name="com.extentreports.tests.ExtentReportDemo"/>
      <!-- 
      <class name="com.extentreports.tests.ExtentReportBasic"/>
      <class name="com.extentreports.tests.ExtentReportViewOrder"/>
      <class name="com.extentreports.tests.AttachLogo"/>
      <class name="com.extentreports.tests.ExtentReportJsonXml"/>
      <class name="com.extentreports.tests.ExtentReportFailedTest"/>
      <class name="com.extentreports.tests.AttachScreenshots"/>
       -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
