<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.restassured.listeners.ListenerClass"></listener>
	<listener class-name="com.restassured.listeners.AnnotationTransformer"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.restassured.testcases.RestCountriesTest"/>
      <class name="com.restassured.testcases.BestBuyAPITests"></class>
      <class name="com.restassured.testcases.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
