<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test" thread-count="3" parallel="tests" verbose="3" >


	<test name="Google Test">
		<parameter name="url" value="https://www.google.com" />
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="AppTests.GoogleTest" />
		</classes>

	</test>

	<test name="Orange HRM Test">
		<parameter name="url"
			value="https://www.orangehrm.com/orangehrm-30-day-trial/" />
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="AppTests.OrangeHRMTest" />
		</classes>

	</test>

	<test name="Open Cart Test">
		<parameter name="url"
			value="https://demo.opencart.com/index.php?route=account/login" />
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="AppTests.OpenCartTest" />
		</classes>

	</test>


</suite>