<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
  	<listener class-name="extentReportListener.ExtentReporterNG"></listener>
  </listeners>

  <test thread-count="5" name="Test">
  
    <classes>
      <class name="tests.AddProductTest"/>
      <class name="tests.RemoveProductTest"/>
      <class name="tests.RemoveAllProductTest"/>
    </classes>
  </test>
</suite>
